:root {
    color-scheme: light dark;
    --bgcl: #B3FFFF; 
    --bgcd: #d3d9de; 
    --textcolorl: #1F2328;
    --textcolord: #E6EDF3;
    --linkscolorl: #1F2328; 
    --linkscolord: #E6EDF3; 
    --sm: 2rem;
    --md: 4rem;
    --lg: 8rem;   
}

html {
    @container (min-width:300px){
        background-color: light-dark(var(--bgcl),var(--bgcd));
        color: light-dark(var(--textcolorl), var(--textcolord));
        font-family: sans-serif;
        font-size: 20px;
    }         
        
}

header {
    text-align: center;
    font-size: var(--lg); 
}

footer {
    font-size: var(--sm);
}

footer a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: light-dark(var(--textcolorl), var(--textcolord));
}