:root {
    color-scheme: light dark;
    --bgcl: #CEE; 
    --bgcd: #003; 
    --textcolorl: #330;
    --textcolord: #EEF;
    --sm: 2rem;
    --lg: 8rem;   
}

html {
    @container (min-width:300px){
        background-color: light-dark(var(--bgcl), var(--bgcd));
        color: light-dark(var(--textcolorl), var(--textcolord));
        font-family: sans-serif;
    }         
        
}

header {
    text-align: center;
    font-size: var(--lg); 
}

.gcalendar {
    font-size: var(--sm);
}

footer a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--sm);
    color: light-dark(var(--textcolorl), var(--textcolord));
}
