:root {
    --bgc: #B3FFFF; 
    --textcolor: #2F4F4F;
    --linkscolor: #2F4F4F;  
    --sm: 3rem;
    --md: 5rem;
    --lg: 9rem;
}

html {
    background-color: var(--bgc);
    font-family: sans-serif;
    font-size: 62.5%;
    color: var(--textcolor);
    @media (min-width:300px) {
        #Projects img {
            width 35%
        }
    }
}
header {
    width: 100%;
    text-align: center;
    font-size: var(--sm);
    background: var(--bgc);  
}

#Projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#Projects h1 {
    font-size: var(--md);
    
}

#Projects a {
    font-size: var(--sm);
    color: var(--linkscolor);
}

footer {
    font-size: var(--sm);
}
footer a {
    color: var(--linkscolor);
}